extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
//- Remove fixed-top if don't want navbar alway on top add class static-postionto make navbar static -//
block body
	section.hometop
		.container
			//- .row
			//- 	.col
			//- 		nav.navbar.navbar-expand-sm.navbar-dark.fixed-top.pt-4.px-5
			//- 			a.navbar-brand(href="#")
			//- 				img(src="./img/logo.png", alt="logo")
			//- 			ul.navbar-nav
			//- 				li.nav-item.active
			//- 					a.nav-link(href="#") HOME
			//- 				li.nav-item
			//- 					a.nav-link(href="#") ABOUT
			//- 				li.nav-item
			//- 					a.nav-link(href="#") WORK
			//- 				li.nav-item
			//- 					a.nav-link(href="#") BLOG
			//- 				li.nav-item
			//- 					a.nav-link(href="#") CONTACT





			.row.fixed-top.pt-4.px-5
				.col-sm-3
					img.img-logo(src="./img/logo.png", alt="Logo")
				.col-sm-9
					.menu-bar
						ul.nav.justify-content-end
							li.nav-item
								a.nav-link.active.nav-link-color.active-color(href="#") HOME
							li.nav-item
								a.nav-link(href="#") ABOUT
							li.nav-item
								a.nav-link(href="#") WORK
							li.nav-item
								a.nav-link(href="#") BLOG
							li.nav-item
								a.nav-link(href="#") CONTACT
			.row
				.col
					h1.mb-5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique neque, impedit sint odit officiis quod nesciunt fuga esse ullam a quaerat possimus, eveniet id nulla ad beatae! Modi, quo rerum?
					p
						a.button(href="#") Watch Now
	section.article-1
		.container
			.row
				.col.pt-5
					h2 Lorem ipsum dolor sit amet consectetur adipisicing elit
					p.pt-5 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro iusto adipisci rem deserunt corporis cum eligendi Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam laboriosam optio, nesciunt quae praesentium quas eum corrupti consequatur rem exercitationem distinctio fugit impedit sit debitis error molestias sunt pariatur a.
			.row.pt-5.py-5
				.col-sm-3
					img.img-fluid(src="./img/flag-icon.png", alt="flag")
				.col-sm-3
					img.img-fluid(src="./img/pen-icon.png", alt="pen")
				.col-sm-3
					img.img-fluid(src="./img/rockket-icon.png", alt="rocket")
				.col-sm-3
					img.img-fluid(src="./img/setting-icon.png", alt="setting")
	section.article-2
		.container
			.row
				.col.pt-5
					h2 Lorem ipsum dolor sit amet consectetur adipisicing elit
					p.pt-5 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro iusto adipisci rem deserunt corporis cum eligendi Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam laboriosam optio, nesciunt quae praesentium quas eum corrupti consequatur rem exercitationem distinctio fugit impedit sit debitis error molestias sunt pariatur a.
			.row.pt-5.py-5
				.col-sm-3
					figure
						img.img-fluid(src="./img/t.png", alt="flag")
					ul.nav
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-facebook
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-twitch
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-twitter
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-youtube
				.col-sm-3
					figure
						img.img-fluid(src="./img/t.png", alt="flag")
					ul.nav
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-facebook
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-twitch
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-twitter
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-youtube
				.col-sm-3
					figure
						img.img-fluid(src="./img/t.png", alt="flag")
					ul.nav
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-facebook
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-twitch
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-twitter
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-youtube
				.col-sm-3
					figure
						img.img-fluid(src="./img/t.png", alt="flag")
					ul.nav
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-facebook
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-twitch
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-twitter
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-youtube